
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif ;
}



.landing-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/image/bg1.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    flex: 1;
    display: flex;
    width: 80%;
    margin: auto;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name h1{
    color: #0808fc;
    font-weight: 400;
}
.circle{
    width: 30px;
    height: 30px;
    background-color: #0808fc;
    border-radius: 50%;
    margin-right: 5px;
}

.login-btn{
    background-color: #0808fc;
    color: white;
    padding: 8px 14px;
    border-radius: 3px;
    text-decoration: none;
}


.container{
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text h1{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 300;

}

.text h6{
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 400;
}

.signup-btn{
    padding: 15px 60px;
    background-color: #0808fc;
    color: white;
    border: #0808fc;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
}


.wcl{
    width: 100%;
    height: 100vh;
    background: linear-gradient( to bottom , #f5f5f5 75% , white 30%);
    display: flex;
    flex-direction: column;
}

.box{
    flex: 1;
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.box-1{
    flex: 1;
}
.box-one{
    flex: 1;
    width: 50%;
    margin: 0px 0px 0px 200px;
}
.box-two{
    flex: 1;
    margin: 0px 200px 0px 0px;
}

.box-1 h6{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 15px;
}
.box-one h6{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 15px;
}
.box-1 h1{
    font-size: 40px;
    font-weight: 300;
}
.box-one h1{
    font-size: 40px;
    font-weight: 300;
}
.box-2{
    flex: 1;
}
.box-2 p{
    font-weight: 400;
    font-size: 14px;
    padding: 60px;
}
.box-two p{
    font-weight: 400;
    font-size: 14px;
    padding: 80px;
}

.cards{
    flex: 1;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
   
}
.card1,.card2,.card3{
    width: 20%;
    height: 35vh;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: 2px 4px 20px -5px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.circle-1{
    width: 40px;
    height: 38px;
    background-color: #0808fc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-2{
    width: 30px;
    height: 28px;
    background-color: skyblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-3{
    width: 16px;
    height: 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1 h3,.card2 h3,.card3 h3{
    font-size: 15px;
    font-weight: 600;
}


.card1 p,.card2 p,.card3 p{
    font-size: 12px;
}


.info{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
}
.banner{
    flex:1;
    background: linear-gradient(to right,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/image/bg2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.xcard{
    display: flex;
    width: 25%;
    height: 28vh;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 20px -5px rgba(0,0,0,0.3);
    border-radius:5px;
}
.text-area{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}
.box-one {
    flex: 1;
    color: white;
}
.box-two{
    flex: 1;
    color: white;
}
.text-area h3{
    font-size: 15px;
    font-weight: 600;
    text-align: left;
}
.text-area p{
    font-size: 12px;
}
.image{
    flex:1;
    width: 100%;
    height: 100%;
}
.imagefile{
    width: 100%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
}

footer{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.links-container{
    flex:7;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 80px;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-evenly;
}
.para-cont,.link-1 ,.link-2{
    flex: 1;
    display: flex;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.socia-links{
    flex: .8;
    /* width: 100%; */
    height: 100%;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.para-cont p{
    font-size: 12px;
    padding: 0px 50px 0px 0px;
}

.another{
    margin-bottom: 30px;
}
.another h1{
    font-size: 16px;
}
.link-1 h2{
    font-size: 14px;
    font-weight: 400;
    color: rgb(100, 99, 99);
    margin-bottom: 25px;
}
.link-2 h2{
    font-size: 14px;
    font-weight: 600;
    color: rgb(100, 99, 99);
    margin-bottom: 25px;
}
.link-1 a{
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
.link-2 a{
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
.socia-links h2{
    font-size: 14px;
    font-weight: 600;
    color: rgb(100, 99, 99);
    margin-bottom: 25px;
    text-align: center;
}
.links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.links i{
    width: 40px;
    height: 38px;
    display: flex;
    background-color: #0808fc;
    align-items: center;
    color: white;
    box-shadow: 2px 4px 5px 2px rgba(0,0,0,0.3);
    border-radius: 50%;
    justify-content: center;
}

.copy{
    flex: 2;
    display: flex;
    background-color: #f5f5f5;
}
.side1{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.copy-links{
    width: 50%;
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.copy-links a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-bottom: 10px;
}
.side1 h5{
    width: 50%;
    margin: 0px auto;
    color: rgb(104, 103, 103);
    font-weight: 400;
}
.side2{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.side2 h5{
    color: rgb(104, 103, 103);
    font-weight: 300;
}
.side2 h5 sup{
    font-size: 6px;
}




@media screen and (max-width:1200px),(min-width:786) {
    .box{
        width: 90%;
    }
    .box-2 p{
        padding: 20px;
    }
    .card1,.card2,.card3{
        width: 30%;
    }
    .box-one{
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    .box-one h1{
        font-size: 34px;
        margin-left:20px ;
    }
    .box-one{
        margin: 0;
    }
    .box-two{
        margin: 0;
    }
    .box-one h6{
        margin-left: 20px;
    }
    .box-two p{
        padding: 20px;
        font-size: 12px;
    }
    .xcard{
        width: 30%;
    }
    .text-area h3{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .text-area p{
        font-size: 8px;
    }
    .links-container {
        width: 90%;
    }
    .para-cont p{
        font-size: 10px;
        padding: 0px 10px 0px 0px ;
    }
    .link-1 h2 ,.link-2 h2{
        font-size: 12px;
        font-weight: 600;
    }
    .link-1 a,.link-2 a{
        font-size: 12px;
    }
    .socia-links h2{
        font-size: 12px;
        font-weight: 600;
    }
    .links{
        justify-content: space-between;
    }
    .copy-links{
        width: 80%;
    }
    .copy-links a{
        font-size: 10px;
    }
    .side1 h5{
        font-size: 10px;
        width: 80%;
    }
    .side2 h5{
        font-size: 10px;
    }
}


@media screen and (max-width:786px) {
    .name h1{
        font-size: 18px;
    }
    .circle{
        width: 25px;
        height: 25px;
    }
    .login-btn{
        padding:4px 10px
    }
    .text h1{
        font-size: 22px;
    }
    .text h6{
        font-size: 8px;
    }
    .box-one{
        margin: 0;
    }
    .box-two{
        margin: 0;
    }
    .signup-btn{
        padding: 10px 30px;
    }
    .box{
        flex: 1;
        flex-direction: column;
    }
    .cards{
        flex: 4;
        flex-direction: column;
    }
   .box-one{
       width: 100%;
   }
    .box-1 h1{
        font-size: 25px;
    }
    .box-one h1{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .box-1 h6{
        font-size: 10px;
        margin-top: 20px;
    }
    .box-one h6{
        font-size: 10px;
        margin-top: 20px;
    }
    .box-2 p{
        font-size: 14px;
    }
    
    .box-two p{
        font-size: 12px;
    }
    .card1,.card2,.card3{
        width: 80%;
        height: 30vh;
    }
    .wcl{
        height: 160vh;
    }
    .info{
        height: 140vh;
    }
    .banner{
        flex:1;
    }
    .another{
        flex:3;
    }
    .xcard{
        width: 70%;
    }
    footer{
        height: 120vh;
        flex-basis: 100%;
    }

    .links-container{
        flex-basis: 100%;
        flex-direction: column-reverse;
    }
    .para-cont,.link-1,.link-2,.socia-links{
        width: 80%;
        min-height: 30vh;
    }
    .para-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .para-cont p{
        text-align: center;
        padding: 0;
    }
    .copy{
        margin-top: 30px;
        flex-direction: column;
    }
    .copy-links{
        width: 90%;
        flex-wrap: wrap;
    }
    .copy-links a{
        font-size: 10px;
    }
    .side1 h5{
        width: 100%;
        font-size: 10px;
        flex-wrap:nowrap;
        display: flex;
        align-items: center;
        justify-content: center;

    }

}